[package]
authors = ["Parity Technologies <admin@parity.io>"]
description = "A library to read JSON keyfiles and sign Ethereum stuff."
documentation = "https://docs.rs/crate/ethsign"
edition = "2018"
homepage = "https://github.com/tomusdrw/ethsign"
license = "GPL-3.0"
name = "ethsign"
repository = "https://github.com/tomusdrw/ethsign"
version = "0.3.1"

[dependencies]
libsecp256k1 = { package = "libsecp256k1", version = "0.2.2", optional = true }
memzero = "0.1"
parity-crypto = "0.3"
rand = "0.6"
rustc-hex = "2.0"
secp256k1 = { version = "0.12", optional = true }
serde = { version = "1.0", features = ["derive"]}

[dev-dependencies]
serde_json = "1.0"


[features]
default = ["secp256k1-c"]

# Use the `secp256k1` crate which links to C code
secp256k1-c = ["secp256k1"]

# Use pure rust implementation of the `libsecp256k1`
secp256k1-rs = ["libsecp256k1"]
