[package]
authors = ["Parity Technologies <admin@parity.io>"]
description = "A library to read JSON keyfiles and sign Ethereum stuff."
documentation = "https://docs.rs/crate/ethsign"
edition = "2018"
homepage = "https://github.com/tomusdrw/ethsign"
license = "GPL-3.0"
name = "ethsign"
repository = "https://github.com/tomusdrw/ethsign"
version = "0.1.2"

[dependencies]
rustc-hex = "2.0"
secp256k1 = "0.12"
serde = { version = "1.0", features = ["derive"]}
parity-crypto = "0.3"
lazy_static = "1.0"

[dev-dependencies]
serde_json = "1.0"
rand = "0.6"
