[package]
name = "ethsign-crypto"
version = "0.1.0"
authors = ["Parity Technologies <admin@parity.io>"]
edition = "2018"
documentation = "https://docs.rs/crate/ethsign-crypto"
homepage = "https://github.com/tomusdrw/ethsign"
repository = "https://github.com/tomusdrw/ethsign"
description = "Pure Rust drop-in replacement for the `parity-crypto` crate"
license = "GPL-3.0"

[dependencies]
pbkdf2 = { version = "0.3", features=["parallel"], default-features = false }
scrypt = "0.2"
sha2 = "0.8"
hmac = "0.7"
aes-ctr = "0.3"
tiny-keccak = "1.4.2"

[dev-dependencies]
parity-crypto = "0.4"
